// sass --watch sass:styles  

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

* {
    box-sizing: border-box;
}

$dark: #264653;

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: $dark;
    color: whitesmoke;
}

main {
    display: grid;
    justify-content: center;
}

.page {
    padding: 0 20px;
}

.container {

}

.hero {
    width: 100vw;
    height: 66.66vw;
    max-width: 900px;
    max-height: 600px;
    img {
        width: inherit;
        max-width: inherit;

        object-fit:cover;
        object-position: center;
        position: absolute;
    }
    .image_overlay {
        width: inherit;
        max-width: inherit;
        height: inherit;
        max-height: inherit;

        position: absolute;
        display: grid;
        place-items: center;
        text-align: center;
        h2 {
            color: palegreen;
            font-size: 48px;
        }
        // dangerous way to set this
        line-height: 0em;


    }
}

.headlines {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    padding: 30px 0;
    margin-top: 40px;

    .headline {
        display: grid;
        place-items: center;

        p {
            text-align: center;
            font-size: 16px;
            font-weight: 500;
        }

        .fas, .far {
            font-size: 62px;
            margin: 5px 0 10px 0;
        }
    }


}

.about {
    margin: 80px 0;
    display: grid;
    justify-items: center;

    h2 {
        font-size: 42px;
        text-align: center;
    }

    p {
        font-size: 24px;
        max-width: 85%;
        text-align: center;
        line-height: 1.8em;

        span {
            letter-spacing: 4px;
        }
    }
}


.content {
    margin: 20px 0;
    line-height: 2em;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;

    .lang, .tech {
        border-radius: 4px;
        background-color: scale-color($dark, $lightness: 10%);
        padding: 4px;

        h3 {
            text-align: center;
            font-size: 24px;
        }

        ul {
            margin-top: 0;
            display: grid;

            i {
                width: 50px;
            }

            li {
                display: flex;
                align-items: center;
                list-style-type: none;
                font-size: 18px;
            }
        }


        .fas, .fab {
            font-size: 32px;
            // margin-right: 12px;
        }
    }

    .tech {
        ul {
            grid-template-columns: 1fr 1fr;

            li {
                margin: 17px 0;
            }
        }
    }
}


@media only screen and (max-width: 690px) {

    .headlines {
        grid-template-columns: 1fr 1fr;
        gap: 50px;
        padding: 30px;
    }

    .content {
        grid-template-columns: 1fr;

        .lang, .tech {
            justify-self: center;
            width: 70%;
        }
    }
}